<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>

    <section>
      <a href="/posts?holiday=Thanksgiving">Thanksgiving</a>
      <a href="/posts?holiday=Halloween">Halloween</a>
      <a href="/posts?holiday=Christmas">Christmas</a>
      <a href="/posts?holiday=Kwanzaa">Kwanzaa</a>
      <a href="/posts?holiday=Hanukkah">Hanukkah</a>
      <a href="/posts?holiday=New-Years-Eve">New Years Eve</a>
      <a href="/posts?holiday=Indigenous-Peoples-Day">Indigenous People's Day</a>
      
    </section>


  <% } %>
</main>




<%- include('./partials/footer') %>
