<%- include('../partials/html-head.ejs') %>
  <link rel="stylesheet" href="/stylesheets/posts/show.css">
  <%- include('../partials/nav.ejs') %>

    <section class="show-body">


      <div class="card-div">
        <div id="card-title">
          <h1>
            <%= post.text %>
          </h1>
        </div>
        <div id="post-details-container">
          <div id="post-details">
              <%= post.details %>
          </div>
        </div>
        <div id="category-holiday">
          <div id="holiday-div">
            <h3>
              <%= post.holiday %>
            </h3>
          </div>
          <div id="category-div">
            <h3>
              <%= post.category %>
            </h3>
          </div>
        </div>
        <div id="author-pic">
          <p>Posted by: <%= post.owner.name %>
          </p>
          <img id="pic" src="<%= post.owner.avatar  %>">
        </div>
      </div>


      <div id="comment-container">
        <div id="comment-title">
          <h2>Comments</h2>
        </div>
        <div id="comment-text-area">
          <!-- <ul> -->
          <% post.comments.forEach(comment=>{ %>
            <div id="comment-content">
              <!-- <li> -->
                <%= comment.text %>
              <!-- </li> -->
              <div id="author-name">
                <p>-<%= comment.owner.name %>
                </p>
              </div>
            </div>
            <% }) %>
        <!-- </ul> -->
      </div>
        <div>
          <form id="add-comment-form" action="/posts/<%= post._id %>/comments" method="POST">
            <textarea id="comment-textarea" name="text" placeholder="Add a comment here.." cols="6"></textarea>
            <div id="add-comment">
            <button id="add-comment-btn" type="submit">Add Comment</button>
          </div>
          </form>
        </div>
      </div>


      <% if (isSelf){ %>
        <div class="buttons">
          <div id="edit-btn">
            <a href="/posts/<%= post._id %>/edit">
              <button type="submit">Edit Post!</button>
            </a>
          </div>
            <div id="delete-btn">
              <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit">Delete post!
                </button>
              </form>
            </div>
          
          <% } %>

            <div>
              <a href="/posts">
                <button>Go to All Posts!</button>
              </a>
            </div>
        </div>
    </section>


    <%- include('../partials/footer.ejs') %>