<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<section>

  <h1><%= title %></h1>

  <h2><%= post.owner ? post.owner.name : "Unknown"%>'s Post Details:</h2>

  <h1><%= post.text %></h1>

  

  <a href="/posts/<%= post._id %>/edit">
  <button type="submit">Edit Post!</button>
  </a>


  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete post!
    </button>
  </form>





</section>


<%- include('../partials/footer.ejs') %>
