<%- include('../partials/html-head.ejs') %>
<%- include('../partials/nav.ejs') %>

<section>

  <p><%= post.owner ? post.owner.name : "Unknown"%>'s New Post!</p>
  <h1><%= post.text %></h1>

</section>


<%- include('../partials/footer.ejs') %>
